<html>
 <head>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui@2.13.2/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
 </head>
 <body>
  <div id="app">
   <el-form ref="form" v-model="form" :label-position="labelPosition" label-width="160px">
    <el-form-item label="挂件ID" v-if="true">
     <el-input v-model="form.id" :disabled="true"></el-input>
    </el-form-item>
    <el-form-item label="挂件名称" v-if="true">
     <el-input v-model="form.name" :disabled="false"></el-input>
    </el-form-item>
    <el-form-item label="挂件描述" v-if="true">
     <el-input v-model="form.description" :disabled="false" type="textarea"></el-input>
    </el-form-item>
    <el-form-item label="挂件图片" v-if="true">
     <body>
      <el-upload class="upload-demo" action="" :on-preview="image_handle_preview" :on-remove="image_handle_remove" :file-list="form.image.group" list-type="picture"> 
       <el-button size="small" type="primary" v-if="form.image.group.length <= 0">
         点击上传 
       </el-button> 
       <div slot="tip" class="el-upload__tip">
         只能上传jpg/png文件 
       </div> 
      </el-upload> 
      <el-dialog :visible.sync="image_dialog_visible"> 
       <img width="100%" :src="image_dialog_image">
      </el-dialog>
     </body>
    </el-form-item>
   </el-form>
  </div>
  <script>var Main={data(){return{"form":{"id":"1","name":"","description":"","image":{"group":[]}},"image_dialog_visible":false,"image_dialog_image":"","labelPosition":"top"}},methods:{image_handle_preview(file) { this.image_dialog_visible = true; this.image_dialog_image = file.url;},image_handle_remove(file, fileList) { this.form.image.group = [];},}};var Ctor = Vue.extend(Main);new Ctor().$mount('#app');</script>
 </body>
</html>